
<style type="text/css">
        body {
            padding:0px;
            margin:-100px;
        }
        .fixed-bg {
            /*background-image: url("city_by_madspartan013-d5etmml.jpg");*/
            background-image: url("night_star.jpg");
            min-height: 600px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            padding-top: 20%;
        }
        .clear {
            background-color : transparent;
            width: 0;
            height: 0;
        }
        .lights {
            height:800px;
             /*background-image: url("bleak_house_by_mattiasa.jpg");*/
            background-image: url("lights.jpg");
            background-size: cover;
            margin-top: -13%;
        }
        .tree {
            height:800px;
             /*background-image: url("bleak_house_by_mattiasa.jpg");*/
            background-image: url("tree.jpg");
            background-size: cover;
        }
        #contact {
            height:100px;
            background-color: black;
        }
        #logos img{
            margin: auto;
            background-color: clear;
            margin: 0.5%;
            position: center;
            
        }
        .logo:hover img{
            transform: scale(1.25);
        }
        .navbar {
            overflow: hidden;
            background-color: black;
            position: fixed; /* Set the navbar to fixed position */
            top: 0; /* Position the navbar at the top of the page */
            width: 98.755%; /* Full width */
            height: 15%;
            font-family: 'Poiret One', cursive;
            font-size: 20px;

        }
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: -5px 16px;
            text-decoration: none;
        }
        .links {
            margin: 50px;
        }
        .links:hover {
            color: #f2f2f2;
            font-weight: bolder;
        }
        .para {
            /*text-align: center;   */
            width: 80%;
            background-color: clear;
            margin-left: 10%;
            margin-top: -10%;
        }
        .header {
            color: azure; 
            font-size: 1000%;
            margin-top: 10%;
        }
        .project {
            height: 200px;
            width: 45%;
            background-color: clear;
            float: left;
        }
        .project img {
            height: 110%;
            margin-top: 17%;
            margin-left: 15%;
            margin-right: 0%;
            padding:1%;
            background-color: #ffdb58;
            align-content: center;
        }

        .project img:hover{
            transform: scale(1.10);
        }
        .description {
            width: 50%;
            margin-left:80px;
            margin-right: 100px;
        }
        .project_header {
            padding-top: -5%;
            color: #2f9fc7;
            font-size: 40px;
            width: 180%;
            font-family: 'Rubik Mono One', sans-serif;
        }
        .project_subHeader {
            color: #778899;
            width: 150%;
            font-size: 20px;
            font-family: 'Playfair Display SC', serif;
        }
        .project_text {
            color: #f2f2f2;
            width: 150%;
            background: rgba(0,0,0,0.5);
        }
        .c {
            border-radius: 5px;
            background-color: #2f9fc7;
            color: white;
            font-size: 20px;
            width: 18px;
            padding-left: 3px;
            padding-right: 1px;
        }
        .js {
            border-radius: 5px;
            background-color: #2f9fc7;
            color: white;
            font-size: 20px;
            width: 85px;
            padding-left: 3px;
            margin-left: 14%;
            padding-right: 1px;
            margin-right: 1%;
            float: left;
        }
        .css {
            border-radius: 5px;
            background-color: #2f9fc7;
            color: white;
            font-size: 20px;
            width: 37px;
            padding-left: 3px;
            padding-right: 1px;
            margin-right: 1%;
            float: left;
        }
        .html {
            border-radius: 5px;
            background-color: #2f9fc7;
            color: white;
            font-size: 20px;
            width: 58px;
            padding-left: 3px;
            padding-right: 1px;
            float: left;
        }
        #about_me {
            width: 50%;
            border-radius: 5px;
            margin: auto;
            color: #f2f2f2;
            margin-top: -10%;
            background-color: rgba(203,231,165, 0.5);
        }
        #about_me_header {
            font-size: 1000%;
            color: #cbe7a5;
            text-align: center;
            height: 50%;
            padding-top: 10%;
            font-family: 'Playfair Display SC', serif;
            padding-bottom: -115%;
        }


    </style>